.container-banner {
  background-image: url(./images/fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 250px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center; /* Cambiado a 'center' para centrar verticalmente */
  position: relative;
}

.images-carousel {
  max-width: 100%;
  height: auto;
}

.carousel h1 {
  font-size: 24px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  color: #dbe2ef;
  width: 100%;
  bottom: 0; /* Añadido para posicionar el título en la parte inferior */
}

/* Otras reglas de estilo ... */

@media (max-width: 768px) {
  .images-carousel {
    height: 200px;
  }

  .carousel h1 {
    font-size: 20px;
  }

  /* Otras reglas de estilo para pantallas pequeñas ... */
}
  
  